

#slideShow{
	margin:0;
	width:903px;
	height:400px;

}


ul.bubbleSlideshow{
	position:relative;
	list-style:none;
	overflow:hidden;
	width:903px;
	height:400px;
}

.bubbleSlideshow li{
	position:absolute;
	top:0;
	left:0;
}

.bubbleSlideshow li img{
	display:block;
}

.bubbleSlideshow li div.bubble{
	-moz-border-radius:50%;
	-webkit-border-raidus:50%;
	border-radius:50%;
	
	background-repeat:no-repeat;
	display:none;
	position:absolute;
}



