	
	
@font-face {
    font-family: 'museo';
    src: url('css/fonts/museo300-regular-webfont-webfont.eot');
    src: url('css/fonts/museo300-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/museo300-regular-webfont-webfont.woff') format('woff'),
         url('css/fonts/museo300-regular-webfont-webfont.ttf') format('truetype'),
         url('css/fonts/museo300-regular-webfont-webfont.svg#webfontuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url('css/fonts/Museo700-Regular-webfont.eot');
    src: url('css/fonts/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Museo700-Regular-webfont.woff') format('woff'),
         url('css/fonts/Museo700-Regular-webfont.ttf') format('truetype'),
         url('css/fonts/Museo700-Regular-webfont.svg#Museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}	
	
	
	
	body {

		margin:0px;

		background-color:#103569;

	}

	img {border:0px;}



	.wrapper {margin-top:28px;}

	.navwrapper {background-color:#9A0909;}

	.headerwrapper{background-color:#ABD4E9; }



	.headerbg{

		 height:76px;

		background: url(images/headerbg.jpg) 0 0 repeat-y;

		width:903px;

		margin:auto;

	}


	.content,

	.header,

	.nav,

	.subnav{

		margin:auto;

		text-align:center;

		width:903px;

		border:0px solid red;

	}

	.header { height:76px; overflow:hidden; }

		#logo{ margin:0; width:903px; height:76px; background: url(images/header.gif) no-repeat; float:left;}
		
		#blog_area{ margin:0; width:312px; height:76px;  float:left;}
		.facebook{ margin:0; width:30px; height:30px; float:right;}

		#info{float:right; margin-top:98px;}



	.nav {height:40px;text-align:left;position:relative;}



	.subnav {

		background-color:#F9E68C;

		position:absolute;

		top:40px;

		left:0px;

		height:29px;

		

	}
	#curriculum_subnav {text-align:left; margin-left:200px;}

	#camp_subnav {text-align:right;}

	#advantage_subnav {text-align:left;}



	#left, .left{float:left; }

	#Right{float:right; }



	/*.content{padding-top:23px;}*/

	.maincontent{	

		background-color:#FFF;

		min-height:300px;

		width:903px;

	}

	.parahdr{color:#B3242C;font-weight:bold;font-size:16px;}

	.sechdr{color:#B3242C;font-weight:bold;font-size:18px;text-align:center; padding-top:15px;}

	.secsubhdr{color:#103569;font-weight:bold;font-size:15px;text-align:center; margin-bottom:15px;}

	.footer {color:#FFFFFF; margin-top:15px; font-size:16px;}
	
	
	.animation_area{ margin:0; width:903px; height:410px; z-index:-9; float:left;}


	.hometext {color:#FFFFFF; margin:15px 0px; font-size:18px;text-align:left; line-height:130%}
	
	.hometext_top {color:#FFFFFF; margin:15px 0px 0 0; width:685px; font-family:'museo', Arial, Helvetica, sans-serif; font-size:12px;text-align:left;}
	
	.hometext_bottom {color:#FFFFFF; margin:5px 0px 20px 0px; width:665px; font-family: sans-serif,Arial, Helvetica; font-size:13px;  
	  color:#FFFFFF;
	  font-weight:400;
	  text-align:justify;
	  line-height:20px; /*font-size:12px;text-align:left; line-height:130%;*/
	 float:left;
	 padding-right:5px;}
	
	.hometext_bottom_left{
	 margin:17px 0 0 10px;
	  width:645px;
	  font-family: sans-serif,Arial, Helvetica; font-size:14px;  
	  color:#FFFFFF;
	  font-weight:600;
	  text-align:justify;
	  line-height:20px;
	   padding:7px 10px 20px 10px;
	   
	   /*border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;*/
	   float:left;}
	


	.text {color:#333333; margin:0px 30px 15px 0; font-size:18px;text-align:left; line-height:22px;}



	#home4ImgBlock {

		width:903px;

		text-align:left;
		float:left;

	}

	#home4ImgBlock img { float:right; padding:0 0 0 0;}

	.sectionImgs{clear:both;margin-bottom:25px;margin-top:15px;}

	.contenttable{margin-top:20px;	}	

	.hdrimg{margin-bottom:10px;}



	#home5ImgBlock {

		width:909px;

		text-align:left;

	}

	#home5ImgBlock img { margin-right:0px;}





	.mindbul{float:left; width:180px; height:24px;}

	br {font-size:8px;}

	a {

		text-decoration:none;

		color:#990000;

	}

	a:hover{text-decoration:underline;}
	
	/*animation*/
	
	
	
	#header_ani { width:685px; height:305px; z-index:9999; }
.headerimg { width:685px; height:303px; position:absolute; z-index:9999; }


/* CONTROLS */
.btn { height:32px; width:32px; float:left; cursor:pointer; }
#back { background-image:url("images/btn_back.png"); }
#next { background-image:url("images/btn_next.png"); }
#control { background-image:url("images/btn_pause.png"); }

/* HEADER HAVIGATION */
#headernav-outer { position:relative; top:270px; margin:0 auto; width:685px; }
#headernav { padding-left:573px; }


/*FB Sidebar*/
#container {
	width:100px;

	position:absolute;
	left:960px;
}

#content {
	width:400px;
	min-height:500px;
}
/*a:link, a:visited {
	color:#27b;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a img {
	border-width:0;
}*/
#topnav {
	padding:10px 0px 12px;
	font-size:11px;
	line-height:23px;
	text-align:right;
}
#topnav a.signin {
	background:#103569;
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#ffffff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*padding:4px 12px 6px;
}
#topnav a.signin:hover {
	background:#59B;
	*background:transparent url("images/signin-nav-bg-hover-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.signin, #topnav a.signin:hover {
	*background-position:0 3px!important;
}

/*a.signin {
	position:relative;
	margin-left:3px;
}
a.signin span {
	background-image:url("images/toggle_down_light.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
}
#topnav a.menu-open {
	background:#ddeef6!important;
	color:#666!important;
	outline:none;
}*/
#small_signup {
	display:inline;
	float:none;
	line-height:23px;
	margin:25px 0 0;
	width:170px;
}
a.signin.menu-open span {
	background-image:url("images/toggle_up_dark.png");
	color:#ffffff;
}

#signin_menu {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	display:none;
	background-color:#000000;
	position:absolute;
	width:300px;
	height:500px;
	z-index:9999;
	border:1px transparent;
	text-align:left;
	padding:12px;
	top: 24.5px; 
	right: 0px; 
	margin-top:5px;
	margin-right: 0px;
	*margin-right: -1px;
	color:#789;
	font-size:11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ACE;
	font-size:13px;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#signin_menu p {
	margin:0;
}
#signin_menu a {
	color:#6AC;
}
#signin_menu label {
	font-weight:normal;
}
#signin_menu p.remember {
	padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
	clear:both;
	margin:5px 0;
}
#signin_menu p a {
	color:#27B!important;
}
#signin_submit {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#39d url(images/bg-btn-blue.png) repeat-x scroll 0 0;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}

.tipsy-inner {
	padding:10px 15px;
	line-height:1.5em;
	font-weight:bold;
}
.tipsy {
	opacity:.8;
	filter:alpha(opacity=80);
	background-repeat:no-repeat;
	padding:5px;
}
.tipsy-inner {
	padding:8px 8px;
	max-width:200px;
	font:11px 'Lucida Grande', sans-serif;
	font-weight:bold;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color:#000;
	color:white;
	text-align:left;
}
.tipsy-north {
	background-image:url(../mma/images/tipsy-north.gif);
	background-position:top center;
}
.tipsy-south {
	background-image:url(../mma/images/tipsy-south.gif);
	background-position:bottom center;
}
.tipsy-east {
	background-image:url(../mma/images/tipsy-east.gif);
	background-position:right center;
}
.tipsy-west {
	background-image:url(../mma/images/tipsy-west.gif);
	background-position:left center;
}
